.container
    max-width: 1000px
    padding: 0 5px
    margin: 0 auto
    display: flex
    justify-content: center

.row-container
    @extend .container
    +modifier('spread')
        justify-content: space-between
    
.row-container-lg
    @extend .container


//3 columns in a row
.col-1
    max-width: 330px
    min-width: 0px
    padding: 25px 15px 0 15px

// 2/3 width of a container
.col-2-3
    max-width: 660px
    padding: 25px 15px 0 15px
    min-width: 100px

// 4 columns in a row
.col-4
    width: 247.5px
    padding: 0 10px
    &:first-child
        padding-left: 15px
    &:last-child
        padding-right: 15px
// 2 columns in a row
.col-2
    max-width: 495px
    padding: 0 15px
