.row-container
  box-sizing: border-box
  max-width: 1000px
  padding: 0 5px
  margin: 0 auto
  display: flex
  justify-content: center

//3 columns in a row
.col-1
  box-sizing: border-box
  max-width: 330px
  min-width: 100px
  padding: 25px 15px 0 15px

// 2/3 width of a container
.col-2-3
  box-sizing: border-box
  max-width: 660px
  padding: 25px 15px 0 15px
  min-width: 100px

// 4 columns in a row
.col-4

// 2 columns in a row
.col-2
  box-sizing: border-box
  min-height: 100px
  background-color: pink
  width: 495px
  padding: 0 15px
