@media screen and (min-width: 1000px)
	.col-1
		min-width: 330px
	.col-2-3
		min-width: 660px

@media screen and (max-width: 796px)
    .row-container
        flex-direction: column
        
    .col-1
        margin: 0 auto
        
    .col-2
        margin: 0 auto
        
    .col-2-3
        margin: 0 auto