@media screen and (min-width: 1000px)
    .col-1
        min-width: 330px
    .col-2-3
        min-width: 660px
    .col-2
        min-width: 495px

@media screen and (min-width: 796px) and (max-width: 1000px)
    .tile__image
        width: 80%
        
    .col-4
        width: 50%
    
@media screen and (max-width: 796px)
    .row-container
        flex-direction: column

    .col-1
        margin: 0 auto

    .col-2
        margin: 0 auto

    .col-2-3
        margin: 0 auto

    .col-4
        width: 50%
        
    .footer-element
        margin: 0 auto
        
        
@media screen and (max-width: 486px)
    
    .quick-links,
    .from-the-blog
        display: none
        
    .col-4
        width: 100%
        