.footer-section
    background: $footer-bg
    margin-top: 30px
    padding-bottom: 45px

.footer-tile
    @extend .col-4
    color: white
    padding-top: 20px
    font-size: 0.75em
    +element('header')
        font-weight: normal
    +element('sub-header')
        color: $ultralightgrey
        margin-bottom: 0
        font-sie: 0.8em
    +element('author')
        margin-top: 3px
        font-size: 0.95em
        color: $ultralightgrey
    +element('text')
        color: $ultralightgrey

.footer-list
    list-style: none
    padding: 0
    margin: 0
    color: $ultralightgrey
    +element('list-item')
        a
            color: $lightblue
        +modifier('underlined')
            border-bottom: 1px solid $grey
            padding: 10px 0

.newsletter-input
    +element('text-field')
        @extend .input
        background-color: $grey
        color: $ultralightgrey
        font-size: 1.1em
        width: 225px
        height: 30px
        margin-bottom: 10px
        border-radius: 5px
    +element('submit')
        @extend .button
        background-color: $lightblue
        text-transform: uppercase
        border-radius: 5px
        padding: 0 20px
        display: block

footer
    background: $darkgrey

.footer-element
    text-align: center
    padding: 5px 15px
    color: $ultralightgrey
    font-size: 0.75em
