.socials
    @extend .col-1
    +element('socials-icon')
    a
        text-decoration: none
        color: $charcoal
        &:visited
            color: $charcoal
        &:hover, &:focus
            color: $orange
            outline: none


.search-input
    @extend .col-2
    text-align: right
    display: flex
    justify-content: flex-end
    +element('text-field')
        @extend .button
        width: 215px
        background-color: $grey
        margin-right: 5px
        &::placeholder
            color: white

    +element('submit')
        @extend .button
        width: 70px
        background-color: $lightblue
        text-transfrom: uppercase
        cursor: pointer

.logo
@extend .col-1

.navbar
@extend .col-2
