.socials
    @extend .col-1
    +element('socials-icon')
    a
        color: $charcoal
        &:visited
            color: $charcoal
        &:hover, &:focus
            color: $orange
            outline: none


.search-input
    @extend .col-2-3
    text-align: right
    display: flex
    justify-content: flex-end
    +element('text-field')
        @extend .input
        width: 215px
        background-color: $grey
        margin-right: 5px
        &::placeholder
            color: white

    +element('submit')
        @extend .button
        width: 70px
        background-color: $lightblue
        text-transfrom: uppercase
        cursor: pointer

.logo
    @extend .col-1
    display: flex
    justify-content: space-between
    +element('image')
        background: url('../images/logo.png') no-repeat center left
        background-size: contain
        height: 45px
        width: 165px
    +element('main-text')
        display: none
        font-size: 1.6em
        text-transform: uppercase
        color: $lightgrey

        big
            font-size: 2em

    +element('secondary-text')
        color: $ultralightgrey
        display: block
        font-size: 0.8em
        letter-spacing: 0.4px
        display: none

.hamburger
    border: none
    background: transparent
    display: none
    +element('line')
        display: block
        width: 20px
        height: 2px
        &::before,
        &::after
            display: block
            content: "";
            height: 2px
            width: 20px
            background: $grey
            position: relative
            transition: transform 0.3s linear

        &::before
            top: -2px
        &::after
            top: 2px

        +modifier('clicked')
            &::before
                transform: rotate(45deg)
                top: 1px
            &::after
                transform: rotate(-45deg)
                top: -1px
nav
    display: flex
    align-items: flex-end

.navbar
    @extend .col-2-3
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding-top: 25px

    +element('menu-item')
        padding: 0 10px
        text-transform: uppercase
        font-size: 0.8em

        a
            color: $ultralightgrey
            &:visited
                color: $ultralightgrey

            &:hover,
            &:active,
            &:focus
                color: $lightblue
