.tile
    @extend .col-1
    +element('image')
        width: 100%
        margin: 0 auto
        display: block

    +element('header')
        color: $lightgrey
        text-transform: uppercase
        font-size: 1em
        margin: 25px 0

    +element('paragraph')
        color: $ultralightgrey
        font-size: 0.75em
        margin: 25px 0

    +element('button')
        @extend .button
        background-color: $lightblue
        text-transform: uppercase
        font-size: 0.8em
        small
            padding-left: 5px
            vertical-align: top

.blockqoute
  max-width: 800px
  padding: 0 25px
  margin: 0 auto
  font-size: 1.8em
  font-style: italic
  font-weight: 100
  color: $blockqoutegry
  text-align: center
